<section class="main-content__body">
  <%= translated_scope scope_buttons_group, page.resource_name %>:

  <% page.scope_names(scope_buttons_group).each do |scope| %>
    <label>
      <% if page.scoped_with?(scope) %>
        <%= link_to translated_scope(scope, page.resource_name),
                    { search: page.term_without_scope(scope) },
                    class: "active" %>
      <% else %>
        <%= link_to translated_scope(scope, page.resource_name),
                    { search: page.term_with_scope(scope) } %>
      <% end %>
    </label>
  <% end %>
</section>
